
//- =========================================================================
//- Svelto - Radio
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    title: '', // Checkbox title
    value: '', // Input value
    checked: '', // Input checked
    colors: { // Colors to use for icons
      on: '', // On color
      off: '' // Off color
    },
    icons: { // Icons to use
      on: '', // On icon
      off: '' // Off icon
    }
  }
  
mixin radio(options)
  //- TODO: Make the markup lighter
  - options = options || {};
  - options.value = options.value || "";
  - options.colors = options.colors || {};
  - options.colors.on = options.colors.on || "";
  - options.colors.off = options.colors.off || "";
  - options.icons = options.icons || {};
  - options.icons.on = options.icons.on || "radio_button_checked";
  - options.icons.off = options.icons.off || "radio_button_unchecked";
  +button(class=(options.checked ? "checked" : ""))&attributes(attributes).radio
    if options.title
      span= options.title
    .icons
      +icon(options.icons.on)(class=options.colors.on).icon-on
      +icon(options.icons.off)(class=options.colors.off).icon-off
    if options.checked
      if options.name
        input(type="radio" name=options.name value=options.value checked)
      else
        input(type="radio" value=options.value checked)
    else
      if options.name
        input(type="radio" name=options.name value=options.value)
      else
        input(type="radio" value=options.value)
