
//- =========================================================================
//- Svelto - Chat
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    sender: {
      img: '' // Avatar url
      name: '', //  Nickname
      url: '', // Profile url
    },
    permissions: {
      own: boolean, // Flag that decide if the chat is owned by you
      reply: boolean, // Flat that decide if you can reply it
      edit: boolean, // Flag that decide if you can edit it
      delete: boolean, // Flag that decide if you can delete it
    },
    message: {
      timestamp: number, // Unix timestamp of when the message as been sent
      content: '', // The message content
      group: '', // The ID of the group, useful for joining all the messages
      level: '',
      direction: 'left' // The direction of the message
    }
  }

mixin chat-msg(options)
  - options.message.level = options.message.level || 1;
  - options.message.direction = options.message.direction || 'left';
  - options.sender = options.sender || {};
  - options.sender.name = options.sender.name || "Unknown";
  .chat-msg(class=("level-" + options.message.level + " direction-" + options.message.direction + " sender-" + options.sender.name))&attributes(attributes)
    if options.sender.img
      if options.sender.url
        +a(options.sender.url)(title=options.sender.name).chat-msg-img
          +image(options.sender.img)(title=options.sender.name).rounded
      else
        +image(options.sender.img)(title=options.sender.name).chat-msg-img.rounded
    .chat-msg-content.card.outlined
      +card-header.inherit.outlined.compact
        +sections
          if options.sender.name !== "Unknown"
            +section-left
              if options.sender.url
                a(href=options.sender.url title=options.sender.name).chat-msg-sender-name= options.sender.name
              else
                span= options.sender.name
          +section-right
            +multiple
              +button-icon("access_time")(data-timestamp-title=options.message.timestamp).xsmall.outlined.compact
              if options.permissions
                if options.permissions.own
                  +button-icon("account_circle")(title="You are the owner").xsmall.outlined.compact
                if options.permissions.reply
                  +button-icon("reply")(title="Reply").xsmall.outlined.compact
                if options.permissions.edit
                  +button-icon("mode_edit")(title="Edit").xsmall.outlined.compact
                if options.permissions.delete
                  +button-icon("delete")(title="Delete").xsmall.outlined.compact
      +card-block
        p= options.message.content
