
//- =========================================================================
//- Svelto - Button v0.3.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

mixin button(href)
  if href
    if href.slice ( 0, 11 ) === 'javascript:'
      .button(onclick=href)&attributes(attributes)
        block
    else if href[href.length-1] === ')' || href.slice ( -2 ) === ');'
      .button(onclick="javascript:" + href)&attributes(attributes)
        block
    else
      a(href=href)&attributes(attributes).button
        block
  else
    .button&attributes(attributes)
      block

mixin button-sub-left
  .sub&attributes(attributes).left
    block

mixin button-sub-right
  .sub&attributes(attributes).right
    block

mixin button-icon(icon, href)
  +button(href)&attributes(attributes)
    +icon(icon)
    block
  
mixin button-ribbon
  //- TODO: Make the markup lighter
  //- TODO: User transform instead
  +button&attributes(attributes).ribbon
    block
  +button.invisible

mixin button-corner(direction)
  - direction = direction || "top-right";
  if href
    if href.slice ( 0, 11 ) === 'javascript:'
      .button-corner(onclick=href class=direction)&attributes(attributes)
        .button.compact
          block
    else if href[href.length-1] === ')' || href.slice ( -2 ) === ');'
      .button-corner(onclick="javascript:" + href class=direction)&attributes(attributes)
        .button.compact
          block
    else
      a(href=href class=direction)&attributes(attributes).button-corner
        .button.compact
          block
  else
    .button-corner(class=direction)&attributes(attributes)
      .button.compact
        block
  
mixin button-tag
  .button-tag
    +button&attributes(attributes)
      block
