//- css/table.jade

extends ../../layout.jade

append body
    +divider Default

    +container
        table
            thead
                tr
                    th Int
                    th String
                    th Date
                    th Options
            tfoot

            tbody
                +table-tr-empty
                - var nr = 1;
                while ( nr <= 5 )
                    tr
                        td= nr++
                        td Foo
                        td 16/11/1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2
                    tr
                        td= nr++
                        td Bar
                        td 16 Nov 1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2

    +divider Empty

    +container
        table
            thead
                tr
                    th Int
                    th String
                    th Date
                    th Options
            tfoot

            tbody
                +table-tr-empty

    +divider Bordered

    +container
        table.bordered
            thead
                tr
                    th Int
                    th String
                    th Date
                    th Options
            tfoot

            tbody
                +table-tr-empty
                - var nr = 1;
                while ( nr <= 5 )
                    tr
                        td= nr++
                        td Foo
                        td 16/11/1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2
                    tr
                        td= nr++
                        td Bar
                        td 16 Nov 1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2

    +divider Striped

    +container
        table.striped
            thead
                tr
                    th Int
                    th String
                    th Date
                    th Options
            tfoot

            tbody
                +table-tr-empty
                - var nr = 1;
                while ( nr <= 5 )
                    tr
                        td= nr++
                        td Foo
                        td 16/11/1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2
                    tr
                        td= nr++
                        td Bar
                        td 16 Nov 1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2

    +divider Hoverable

    +container
        table.hoverable
            thead
                tr
                    th Int
                    th String
                    th Date
                    th Options
            tfoot

            tbody
                +table-tr-empty
                - var nr = 1;
                while ( nr <= 5 )
                    tr
                        td= nr++
                        td Foo
                        td 16/11/1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2
                    tr
                        td= nr++
                        td Bar
                        td 16 Nov 1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2

    +divider Bordered - Striped - Hoverable

    +container
        table.bordered.striped.hoverable
            thead
                tr
                    th Int
                    th String
                    th Date
                    th Options
            tfoot

            tbody
                +table-tr-empty
                - var nr = 1;
                while ( nr <= 5 )
                    tr
                        td= nr++
                        td Foo
                        td 16/11/1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2
                    tr
                        td= nr++
                        td Bar
                        td 16 Nov 1993
                        td
                            .multiple
                                +button.outlined.tiny Btn 1
                                +button.outlined.tiny Btn 2
