
//- =========================================================================
//- Svelto - Switch v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    value: '', // Input value
    checked: '', // Input checked
    colors: { // Colors to use
      on: '', // On color
      off: '' // Off color
    },
    icons: { // Icons to use
      on: '', // On icon
      off: '' // Off icon
    }
  }

//- FIXME: Remove that ugly hard coded `1.73333em`

mixin switch(options)
  - options = options || {};
  - options.colors = options.colors || {};
  - options.colors.on = options.colors.on || "secondary";
  - options.colors.off = options.colors.off || "gray";
  - options.icons = options.icons || {};
  - options.icons.on = options.icons.on || "false";
  - options.icons.off = options.icons.off || "false";
  - var color_class = options.checked ? options.colors.on : options.colors.off;
  .switch(data-color-on=options.colors.on data-color-off=options.colors.off data-icon-on=options.icons.on data-icon-off=options.icons.off)&attributes(attributes)
    if options.name
      if options.value
        if options.checked
          input(type="checkbox" name=options.name value=options.value checked=options.checked)
        else
          input(type="checkbox" name=options.name value=options.value)
      else
        input(type="checkbox" name=options.name)
    else
      input(type="checkbox")
    .switch-bar-wrp
      .switch-bar(class=color_class)
        .switch-handler(class=color_class style="transform: translate3d(" + (options.checked ? "1.73333em" : "0") + ",0,0);")
          if options.icons.on !== "false"
            +icon(options.icons.on).icon-on
          if options.icons.off !== "false"
            +icon(options.icons.off).icon-off
