
//- =========================================================================
//- Svelto - Select v0.2.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- FIXME: Add support for arbitrary number of optgroups levels
//- TODO: Make the mixin set the defualt value at the compilation time

//- Options
  {
    options: '', // Select options
    selected: '', // Selected option
    id: '', // Select id
    name: '', // Select name
    title: '', // Button title
    icon: '', // Button icon
    placeholder: '' // Select placeholder
  }

mixin select-btn(options)
  - options.icon = options.icon || "reorder";
  +button(data-select=options.id)&attributes(attributes).select-btn.select-trigger
    if options.title
      .select-label= options.title
    if options.icon
      +icon(options.icon)
    +select(options)

mixin select(options)
  - options.placeholder = options.placeholder || "Select a value...";
  select(id=options.id name=options.name, placeholder=options.placeholder)
    each val, prop in options.options
      if typeof val === "object"
        optgroup(label=prop)
          each subval, subprop in val
            if subprop === selected
              option(value=subprop selected)= subval
            else
              option(value=subprop)= subval
      else
        if subprop === selected
          option(value=prop selected)= val
        else
          option(value=prop)= val
