
//- =========================================================================
//- Svelto - Embedded v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- EMBEDDED

mixin embedded(src, allowfullscreen)
  .embedded&attributes(attributes)
    if src
      +iframe(src, allowfullscreen)
    block

//- EMBEDDABLES

mixin iframe(src, allowfullscreen)
  if allowfullscreen
    iframe(src=src allowfullscreen)&attributes(attributes)
  else
    iframe(src=src)&attributes(attributes)

mixin embed(src)
  embed(src=src)&attributes(attributes)

mixin video(sources, type)
  video&attributes(attributes)
    if type
      sources(src=sources type=type)
    else
      each src, type in sources
        source(src=src type=type)

mixin object(data)
  object(data=data)&attributes(attributes)
