//- tools/timeAgo.jade

extends ../../layout.jade

append main
    +divider TimeAgo

    +container
        +container-content(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 )}")

    +divider TimeAgo -90

    +container
        +container-content(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 - 90 )}")

    +divider TimeAgo -120

    +container
        +container-content(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 - 120 )}")

    +divider TimeAgo -3600

    +container
        +container-content(data-timestamp="#{Math.round ( new Date ().getTime () / 1000 - 3600 )}")

    +divider TimeAgo title -7200

    +label-icon("device-access-time")(data-timestamp-title="#{Math.round ( new Date ().getTime () / 1000 - 7200 )}").outlined
