
//- =========================================================================
//- Svelto - Checkbox v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- TODO: the value should be setted to 1 by default if is not provided

//- Options
  {
    name: '', // Input name
    title: '', // Checkbox title
    value: '', // Input value
    checked: '', // Input checked
    colors: { // Colors to use for icons
      on: '', // On color
      off: '' // Off color
    },
    icons: { // Icons to use
      on: '', // On icon
      off: '' // Off icon
    }
  }

mixin checkbox(options)
  - options = options || {};
  - options.value = options.value || "";
  - options.colors = options.colors || {};
  - options.colors.on = options.colors.on || "";
  - options.colors.off = options.colors.off || "";
  - options.icons = options.icons || {};
  - options.icons.on = options.icons.on || "check_box";
  - options.icons.off = options.icons.off || "check_box_outline_blank";
  +button(class=(options.checked ? "checked" : ""))&attributes(attributes).checkbox
    if options.checked
      if options.name
        input(type="radio" name=name value=value checked)
      else
        input(type="radio" value=value checked)
    else
      if options.name
        input(type="radio" name=name value=value)
      else
        input(type="radio" value=value)
    +button-center
      if options.title
        span options.title
      +icon(options.icons.on)(class=options.colors.on).icon-on
      +icon(options.icons.off)(class=options.colors.off).icon-off
