//- chat.jade

//-
    {
        sender: {
            img: '' // Avatar url
            name: '', //  Nickname
            url: '', // Profile url
        },
        permissions: {
            own: boolean, // Flag that decide if the chat is owned by you
            reply: boolean, // Flat that decide if you can reply it
            edit: boolean, // Flag that decide if you can edit it
            delete: boolean, // Flag that decide if you can delete it
        },
        message: {
            timestamp: number, // Unix timestamp of when the message as been sent
            content: '', // The message content
            group: '', // The ID of the group, useful for joining all the messages
            level: ''
        }
    }

mixin chat-msg(options)
    .chat-msg(class=("level-" + ( options.message.level || 1 ) + " sender-" + ( options.sender && options.sender.name ? options.sender.name : "unknown" ) ) )&attributes(attributes)
        if options.sender && options.sender.img
            if options.sender.url
                a(href=options.sender.url, title=options.sender.name).chat-msg-img
                    img(src=options.sender.img, title=options.sender.name)
            else
                .chat-msg-img
                    img(src=options.sender.img, title=options.sender.name)
            .chat-msg-indicator
        .chat-msg-content
            +container
                +container-header.transparent
                    if options.sender
                        +container-header-left
                            if options.sender.url
                                a(href=options.sender.url, title=options.sender.name)= options.sender.name
                            else
                                = options.sender.name
                    +container-header-right
                        +multiple
                            .button(data-timestamp-title=options.message.timestamp).compact.mini.outlined
                                +icon("device-access-time")
                            if options.permissions
                                if options.permissions.own
                                    .button(title="You are the owner").compact.mini.outlined
                                        +icon("action-account-circle")
                                if options.permissions.reply
                                    +button(title="Reply").compact.mini.outlined
                                        +icon("content-reply")
                                if options.permissions.edit
                                    +button(title="Edit").compact.mini.outlined
                                        +icon("editor-mode-edit")
                                if options.permissions.delete
                                    +button(title="Delete").compact.mini.outlined
                                        +icon("action-delete")
                +container-content= options.message.content
