//- chat.jade

//-
    {
        sender: {
            img: '' // Avatar url
            name: '', //  Nickname
            url: '', // Profile url
        },
        permissions: {
            own: boolean, // Flag that decide if the chat is owned by you
            reply: boolean, // Flat that decide if you can reply it
            edit: boolean, // Flag that decide if you can edit it
            delete: boolean, // Flag that decide if you can delete it
        },
        message: {
            timestamp: number, // Unix timestamp of when the message as been sent
            content: '', // The message content
            group: '', // The ID of the group, useful for joining all the messages
            level: ''
        }
    }

mixin chat-msg(options)
    .chat-msg(class=("level-" + ( options.message.level || 1 ) + " sender-" + ( options.sender && options.sender.name ? options.sender.name : "unknown" ) ) )&attributes(attributes)
        if options.sender && options.sender.img
            if options.sender.url
                a(href=options.sender.url, title=options.sender.name).chat-msg-img
                    img(src=options.sender.img, title=options.sender.name)
            else
                .chat-msg-img
                    img(src=options.sender.img, title=options.sender.name)
            .chat-msg-indicator
        .chat-msg-content
            +container
                +container-header.transparent
                    if options.sender
                        +multiple-left
                            if options.sender.url
                                a(href=options.sender.url, title=options.sender.name)= options.sender.name
                            else
                                = options.sender.name
                    +multiple-right
                        +button-icon("device-access-time")(data-timestamp-title=options.message.timestamp).xsmall.outlined
                        if options.permissions
                            if options.permissions.own
                                +button-icon("action-account-circle")(title="You are the owner").xsmall.outlined
                            if options.permissions.reply
                                +button-icon("content-reply")(title="Reply").xsmall.outlined
                            if options.permissions.edit
                                +button-icon("editor-mode-edit")(title="Edit").xsmall.outlined
                            if options.permissions.delete
                                +button-icon("action-delete")(title="Delete").xsmall.outlined
                +container-content= options.message.content
