//- checkbox.jade

mixin checkbox(name, title, value, checked)
    if checked
        .button.actionable.checkbox.checked&attributes(attributes)
            input(type="checkbox", name=name, value=value, checked)
            .button-center= title
                +icon("toggle-check-box").on.right
                +icon("toggle-check-box-outline-blank").off.right
    else
        .button.actionable.checkbox&attributes(attributes)
            input(type="checkbox", name=name, value=value)
            .button-center= title
                +icon("toggle-check-box").on.right
                +icon("toggle-check-box-outline-blank").off.right
