//- checkbox.jade

mixin checkbox(name, title, value, checked)
    if checked
        .button.actionable.checkbox.checked&attributes(attributes)
            input(type="checkbox", name=name, value=value, checked)
            .label.left= title
            .icon.on.right
            .icon.off.right
    else
        .button.actionable.checkbox&attributes(attributes)
            input(type="checkbox", name=name, value=value)
            .label.left= title
            .icon.on.right
            .icon.off.right
