//- slider.jade

mixin slider(name, min, value, max)
    .slider&attributes(attributes)
        input(type="number", name=name, value=value)
        .slider-min(title="Decrease", data-min=min)
        .slider-max(title="Increase", data-max=max)
        .slider-bar
            .slider-unhighlighted
                .slider-highlighted
                .slider-handler-wrp
                    .slider-handler
                        .slider-label= value
