
//- =========================================================================
//- Svelto - Slider v0.3.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    min: '', // Min value
    value: '', // Value
    max: '', // Max value
    step: '' // Step amount
  }

mixin slider(options)
  - options = options || {};
  - options.min = options.min || 0;
  - options.value = options.value || options.min;
  - options.max = options.max || 100;
  - options.step = options.step || 1;
  .slider(data-step=options.step)&attributes(attributes)
    if options.name
      input(type="number" name=options.name value=options.value)
    else
      input(type="number" value=options.value)
    .slider-min(title="Decrease" data-min=options.min)
    .slider-bar
      .slider-unhighlight
        .slider-highlight
      .slider-handler-wrp
        .slider-handler
          .slider-label= options.value
    .slider-max(title="Increase" data-max=options.max)
