
//- =========================================================================
//- Svelto - Slider v0.1.0
//- =========================================================================
//- Copyright (c) 2015 Fabio Spampinato
//- Licensed under MIT (https://github.com/svelto/svelto/blob/master/LICENSE)
//- =========================================================================

//- Options
  {
    name: '', // Input name
    min: '', // Min value
    value: '', // Value
    max: '', // Max value
    step: '' // Step amount
  }
  
mixin slider(options)
  - options = options || {};
  - options.min = options.min || 0;
  - options.value = options.value || options.min;
  - options.max = options.max || 100;
  - options.step = options.step || 1;
  - var percentage = ( ( options.value - options.min ) / options.step ) * 100 / ( ( options.max - options.min ) / options.step );
  .slider(data-step=step)&attributes(attributes)
    if options.name
      input(type="number" name=name value=value)
    else
      input(type="number" value=value)
    .slider-min(title="Decrease" data-min=options.min)
    .slider-max(title="Increase" data-max=options.max)
    .slider-bar-wrp
      .slider-bar
        .slider-unhighlighted
          .slider-highlighted(style="right:" + (100 - percentage) + "%;")
      .slider-handler-wrp(style="left:" + percentage + "%;")
        .slider-handler
          .slider-label= value
